{% extends "admin/base.html" %}

{% block content %}




<div class="container mt-4">
    <div class="mb-3">
        <div class="d-flex justify-content-between">
        <a href="{{ url_for('admin_dashboard') }}" class="btn btn btn-outline-success">
            <i class="fas fa-arrow-left"></i> 
        </a>
        <a href="{{ url_for('add_floor') }}" class="btn btn-outline-success">
            <i class="fas fa-plus"></i> 
        </a>
        </div>
    </div>
    <h2 class="heading-style">
        <i class="fas fa-building"></i> Manage Floor Stamping
    </h2>
    

   
    <form id="search-form" method="GET" action="{{ url_for('manage_floors') }}" class="mb-3">
        <div class="input-group">
            <input type="text" id="search-input" name="search" class="form-control" placeholder="Search by name..." value="{{ search_query }}">
            <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i> Search</button>
        </div>
    </form>
    
    <!-- Floors Stamping Table (Loaded via AJAX) -->
    <div id="floors-container">
        {% include 'admin/floors_table.html' %}
    </div>

    
    

    
</div>



{% endblock %}
